*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.title {
  color: yellowgreen;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}

.stopwatch {
  text-align: center;
  font-size: 3em;
}

.display {
  margin-bottom: 60px;
  font-weight: bold;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.control-btn {
  margin: 14px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  font-size: 24px;
  color: #fff;
  transition: 0.2s;
  opacity: 0.88;
  cursor: pointer;
}

.control-btn:hover {
  opacity: 1;
}

.control-btn.lap {
  background: #42aaca;
}

.control-btn.start {
  background: #449d44;
}

.control-btn.reset {
  order: -1;
  background: #eea236;
}

.control-btn.pause {
  background: #ce605c;
}

.timer-laps {
  display:none;
  column-width: 150px;
  overflow-y: auto;
  margin: 20px auto;
  padding: 14px 14px 14px 66px;
  width: 60%;
  max-height: 360px;
  line-height: 1.6;
  background: #f3f4f5;
  border-radius: 20px;
  font-size: 20px;
}
